<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bar</title>
</head>
<body>
<div class="border-container">
    <div class="name-title">
        主网工程造价准确率
    </div>
    <div id="main"></div>
    <div class="head-nav">
        <div class="head-nav-con clearFloat">
            <ul>
                <li class="drop-down">
                    <a href="#" class="drop-name" id="normal">排序
                        <span class="drop-icon"> <img src="../public/images/dropBtn.png"> </span>
                    </a>
                    <ul class="drop-down-content">
                        <li><a href="#" id="highSort">从高到低</a></li>
                        <li><a href="#" id="lowSort">从低到高</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <span class="top-left border-span"></span>
    <span class="top-right border-span"></span>
    <span class="bottom-left border-span"></span>
    <span class="bottom-right border-span"></span>
</div>
</body>
</html>