* {
    margin: 0;
    padding: 0;
}
body,html {
    width: 1500px;
    background: #040F3C;
    font-family: '微软雅黑','Times New Roman', '宋体', 'Arial', sans-serif;
    position: relative;
    margin: 0 auto;
}
a {
    color: #fff;
    text-decoration: none;
    outline: none;
}
a:hover {
    border-radius: 5px;
}
ol, ul, li {
    list-style: none;
}
#main {
    width: 1300px;
    height: 650px;
    margin: auto;
}
.border-container {
    position: relative;
    margin-top: 15px;
    padding: 10px;
    border: 1px solid #54dcf2;
}
.border-container span.border-span {
    display: block;
    position: absolute;
    width:35px;
    height: 35px;
}
.border-container span.top-left {
    top: -4px;
    left:-4px;
    border-top: 3px solid #54dcf2;
    border-left: 3px solid #54dcf2;
}
.border-container span.top-right {
    top:-4px;
    right:-4px;
    border-top: 3px solid #54dcf2;
    border-right: 3px solid #54dcf2;
}
.border-container span.bottom-left {
    bottom: -4px;
    left: -4px;
    border-bottom: 3px solid #54dcf2;
    border-left: 3px solid #54dcf2;
}
.border-container span.bottom-right {
    bottom: -4px;
    right: -4px;
    border-bottom: 3px solid #54dcf2;
    border-right: 3px solid #54dcf2;
}
.name-title{
    font-size:20px ;
    color: #00ffff;
}